.container{
    font-size: 1.2rem;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 100%;
    background-color: #333;
    padding: 5px;
}

.top .logout{
    text-decoration: none;
    color: white;
    background-color: #5c7ac3;
    padding: 10px;
    border-radius: 40px;
}

.topleft{
    display: flex;
    align-items: center;
    gap: 0.2rem;
    border: 1px solid white;
    border-radius: 40px;
    padding-right: 10px;
    background-color: white;
    color: #aaa;
}

.topleft .icon{
    width: 45px;
    border-radius: 50%;
    background-color: white;
    border: 2px solid white;
}

.topleft em{
    color: red;
}